{% extends "tradingroom/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "tradingroom:coin-delete" pk=coin.pk %}
{% endblock %}

{% block title %}
{% trans "Remove coin" context "Remove coin (discount) text" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Remove coin (discount) text" %}
      Are you sure you want to remove <strong>{{ coin }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
