<!DOCTYPE html>
{% load static i18n %}
{% load render_bundle from webpack_loader %}
{% load version %}
{% load serialize_messages from utils %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <title>
      {% block title %}
        {% blocktrans trimmed context "knowledge default page title" with site_name=site.name %}
          knowledge - {{ site_name }}
        {% endblocktrans %}
      {% endblock %}
    </title>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta name="theme-color" content="#21915a" />
      <meta name="robots" content="noindex, nofollow">
    {% endblock meta %}

    {% include 'favicon.html' %}
    {% render_bundle 'manager' 'css' %}
    <link rel="stylesheet" type="text/css" href="{% static "versatileimagefield/css/versatileimagefield.css" %}">

    {% block custom_css %}{% endblock %}
  </head>

  <body class="{% block body_class %}body-home{% endblock %}">
    <header>
      <nav class="top-nav" id="top-nav">
        <div class="nav-wrapper">
          <div class="right">
            <ul id="user-action" class="dropdown-content">
              <li class="user-name">
                {{ request.user }}
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'home' %}" target="_blank" class="waves-effect">
                  {% trans "Visit storefront" context "knowledge top navigation action" %}
                </a>
              </li>
              <li>
                <a href="{% url "manager:index" %}">
                  {% trans "knowledge room" context "Main navigation item" %}
                </a>
              </li>
              <li>
                <a href="{% url "account:details" %}">
                  {% trans "Your account" context "Main navigation item" %}</a>
              </li>
              <li>
                <a href="{% url 'account:logout' %}" class="waves-effect">
                  {% trans "Log out" context "knowledge room top navigation action" %}
                </a>
              </li>
            </ul>
            <a class="dropdown-button" data-constrainwidth="false" href="#" data-activates="user-action">
              <svg data-src="{% static "manager/images/account-circle.svg" %}" width="24" height="24" fill="#fff" />
            </a>
          </div>
          <ul class="left">
            <li>
              <a href="#" id="toggle-menu">
                <svg data-src="{% static "manager/images/mobile-menu.svg" %}" width="24" height="24" />
              </a>
            </li>
            <li>
              <a href="{% url 'manager:index' %}" class="logo">
                <svg data-src="{% static "images/logo-white.svg" %}" height="38px" width="176px" />
              </a>
            </li>
            <li class="search">
              {% if SEARCH_IS_ENABLED %}
                <form method="get" action="{% url "manager:search" %}">
                  <a class="hide-on-med-and-up" id="btn-search-close"></a>
                  <div class="input-field d-inline">
                    <input id="search" type="search" placeholder="{% trans "Search" context "knowledge search" %}" name="q" required value="{% if query %}{{ query }}{% endif %}">
                    <label class="hide-on-small-only">
                      <svg data-src="{% static "manager/images/search.svg" %}" width="24" height="24" fill="#fff" />
                    </label>
                  </div>
                  <a href="{% url "manager:search" %}" class="hide-on-med-and-up" id="btn-search-submit">
                    <svg data-src="{% static "manager/images/search.svg" %}" width="24" height="24" fill="#fff" />
                  </a>
                </form>
              {% endif %}
            </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="side-nav">
            <li class="nav-home">
              <a href="{% url 'manager:index' %}">
                {% trans "Home" context "knowledge homepage" %}
              </a>
            </li>
            <li class="side-nav-section" id="first">
              <p>
                {% trans "Knowledge" context "knowledge knowledge" %}
              </p>
              <ul>
                <li class="{% block menu_coin_class %}{% endblock %}">
                  <a href="{% url 'manager:knowledge-list' %}">
                    {% trans "Knowledge" context "knowledge room knowledge list" %}
                  </a>
                </li>
              </ul>
            </li>
            <li class="side-nav-section" id="version-indicator">
              <p>
                {% trans "Release:" context "knowledge room software version" %} {% version %}
              </p>
            </li>
          </ul>
          {% endif %}
        </div>
      </nav>
    </header>
    <div class="subheader top-nav">
      <div class="nav-wrapper container">
        {% block breadcrumbs %}
          <ul class="breadcrumbs">
            <li class="visible-s">
              <a href="#">
                {% trans "Home" context "knowledge room homepage" %}
              </a>
            </li>
          </ul>
        {% endblock %}
        {% block header_extra %}{% endblock %}
      </div>
    </div>
    <main class="main">
      <div id="base-modal" class="modal"></div>
      <div id="base-modal-fixed" class="modal modal-fixed-footer"></div>
      <div class="container">
        {% block content %}{% endblock %}
        <div id="knowledge-app"></div>
      </div>
    </main>
    <div id="messages-container" data-messages="{% serialize_messages %}"></div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% render_bundle 'manager' 'js' %}

    <script src="{% static "versatileimagefield/js/versatileimagefield.js" %}"></script>
    {% block custom_js %}{% endblock %}
  </body>
</html>
